* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 20px;
}

.count {
    position: absolute;
    top: 8px;
    left: 340px;
    font-size: 40px;
}

.li {
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.span {
    margin-left: 10px;
    position: relative;
}

.btn-edit {
    position: absolute;
    left: 270px;
}

.btn-remove {
    position: absolute;
    left: 300px;
}

.low {
    background-color: green;
}

.middle {
    background-color: yellow;
}

.high {
    background-color: red;
}