.out {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;
}

.circles {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: black
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}